<!DOCTYPE html>
<html>
<head>
    <title >Deep project</title>
    <style>
        .heading{
            font-size: 1.8rem;
            color: #0087F7;
            -webkit-font-smoothing: antialiased;
            line-height: 2.2rem;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/basic.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/dropzone.css" />
    <script src="../static/js/dropzone.js"></script>

</head>
    <body>
        <h3 class="heading">
            Deep Project. Try it out!
        </h3>
        <div style="display: flex;">
            <div style="flex: 3;">
                <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data" class="dropzone">
                <div class="fallback">
                    <input name="file" type="file" multiple />
                    </div>
                </form>
            </div>
            <div style="flex: 1;">
                Kaushal
            </div>
        </div>
    </body>
</html>
